.zapm .package-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em 1em;
	align-content: start;
}

.zapm .package {
	position: relative;
	display: grid;
	gap: 4px 4px;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1em 6em 1fr;
	padding: 4px 4px 4px 4px;
	border: 1px solid #80808066;
}
.zapm .package-info {
	padding-left: 4px;
}
.zapm .package .package-description {
	grid-row: 2;
	grid-column: 1 / -1;
}
.zapm .package-image {
	grid-row: 1;
	grid-column: 2;
	margin: 0;
	width: 6em;
}
.zapm .module-icon {
	width: 100%;
	height: auto;
	object-fit: contain;
	border: none;
}
.zapm .package .package-overview {
	/* flex: 1; */
	grid-row: 1;
	grid-column-start: 3;
	grid-column-end: -1;
	/* grid-column: auto; */
}
.zapm .package-title {
	display: flex;
}
.zapm .package-toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	width: 1em;
	height: 1em;
}
.zapm .package-toggle input {
	width: 1em;
}


.zapm .package-metadata {
	list-style: none;
}


.zapm .tags {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.zapm .package .tag {
	font-size: .65em;
	line-height: 1.5em;
	height: 1.5em;
	display: inline-block;
	max-width: 4ch;
	transition: .5s;
	overflow: hidden;
}
.zapm .package .tag.version {
	max-width: 12ch;
}
.zapm .package .tag:hover {
	max-width: 18ch;
}
.zapm .package .tag .short {
	display: inline-block;
}
.zapm .package .tag .long {
	display: none;
}
.zapm .package .tag:hover .short {
	display: none;
}
.zapm .package .tag:hover .long {
	display: inline;
}