.zapm .package-list {
	display: grid;
	/* grid-template-columns: repeat(3, minmax(0, 1fr)); */
	/* grid-template-columns: auto; */
	grid-template-columns: repeat(auto-fill, minmax(46ch, 1fr));
	gap: 1em 1em;
	align-content: start;
}

.zapm .package {
	display: grid;
	gap: 4px 4px;
	grid-template-rows: 5em;
	grid-template-columns: 5em minmax(0, 1fr);
	padding: 4px 4px 4px 4px;
	border: none;
	overflow: hidden;
	transition: box-shadow .5s;
	box-shadow: 0 0 12px -6px #00000073;
	border-radius: 0.2em;
	height: 100%;
}
.zapm .package.expanded {
	grid-template-rows: 5em 1fr;
}
.zapm .package.expanded::before {
	content: " ";
	grid-row: 1;
	grid-column: 1 / -1;
	border-bottom: 1px solid #b5b3a4;
	margin: 0 4px -2px 4px;
	box-shadow: 0px 10px 20px -20px #00000082;
}
.zapm .package:hover {
	box-shadow: 0 0 12px -6px #000000DD;
}
.zapm .package-info {
	padding-left: 4px;
}
.zapm .package .package-description {
	grid-row: 2;
	grid-column: 1 / -1;
	line-height: 1.2em;
	max-height: 6em;
	/* height: 4.8em; */
	position: relative;
	overflow-y: auto;
}
.zapm .package .package-description,
.zapm .package .package-description * {
	user-select: text;
}
.zapm .package .package-description h4 {
	font-weight: bold;
	display: inline-block;
	margin: 0;
}
.zapm .package .package-description h4:after {
	content: ":";
}
.zapm .package-description::-webkit-scrollbar-thumb {
	outline: none;
	border-radius: 3px;
	background: #00000022;
	border: none;
}
.zapm .package-image {
	grid-row: 1;
	grid-column: 1;
	margin: 0;
}
.zapm .module-icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border: none;
	border-radius: .2em;
	opacity: .5;
}
.zapm .package.active .module-icon {
	opacity: unset;
}
.zapm svg.module-icon {
	fill: #00000030;
}
.zapm .package .package-overview {
	grid-row: 1;
	grid-column: 2 / -1;
}
.zapm .package-list .package .package-overview .package-title {
	text-decoration: none;
}
.zapm h2.module-title,
.zapm h3.author {
	line-height: 1em;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	overflow: hidden;
}
.zapm h2.module-title {
	font-size: 1.1em;
	cursor: pointer;
	box-shadow: 0px 3px 12px -6px black;
	font-weight: bold;
	margin-bottom: .3em;
	padding-right: .85em;
	position: relative;
	user-select: text;
}
.zapm h3.author {
	font-size: .95em;
	font-style: italic;
	margin-bottom: .2em;
}
.zapm .author-list {
	display: inline;
	list-style: none;
	/* flex-direction: row; */
	padding: 0;
}
.zapm h3.author .author-name {
	user-select: text;
	display: inline;
}


.zapm .author-label {
	font-weight: bold;
}
.zapm .author-label:after {
	content: ":";
}
.zapm .package-toggle {
	position: absolute;
	top: -3px;
	right: -2px;
	margin: 0;
	width: 1em;
	height: 1em;
}
.zapm .package-toggle input {
	width: 1em;
	margin: 0;
}

#module-management .zapm .package-list .package .package-metadata {
	flex: none;
	list-style: none;
}

.zapm .tags {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	margin: 0 0 .3em 0;
	padding: 0;
	font-size: 0.7em;
}
.zapm .tags.interactions {
	overflow: visible;
}
.zapm .tags a {
	color: inherit;
	text-decoration: none;
}
.zapm .package .tag {
	font-size: inherit;
	line-height: 1.5em;
	height: 1.5em;
	display: inline-block;
	max-width: 4ch;
	transition: .5s;
	overflow: hidden;
	white-space: nowrap;
}
.zapm .package .tag.version {
	max-width: initial;
	user-select: text;
}
.zapm .package .tag.interaction-tag {
	max-width: initial;
	position: relative;
	overflow: visible;
}
.zapm .tag.dependency {
	background: blue;
}
.zapm .tag.conflict {
	background: red;
}
.zapm .package .tag:hover {
	max-width: 20ch;
}
.zapm .package .tag .short {
	display: inline-block;
}
.zapm .package .tag .long {
	display: none;
}
.zapm .package .tag:hover .short {
	display: none;
}
.zapm .package .tag:hover .long {
	display: inline;
}
.zapm .tag .interaction-list {
	position: absolute;
	z-index: 1;
	border: inherit;
	border-radius: 3px;
	padding: 0 3px;
	margin: 0 0 0 -4px;
	text-decoration: none;
	background: inherit;
	color: #f0f0e0;
	visibility: hidden;
}
.zapm .package .tag .interaction-list {
	bottom: 1.6em;
}
.zapm .package.expanded .tag .interaction-list {
	bottom: unset;
}
.zapm .tag:hover .interaction-list {
	visibility: visible;
}